<footer class="mt-5">
    <navbar class="fixed-bottom mt-5">
        
            <div class="container-fluid bg-dark py-3 d-flex justify-content-center mt-5">
                <div class="pe-5">
                    <a href="/createPost"><button class="btn btn-lg btn-light" name="createPost">New Post</button></a>
            </div>
        
    </navbar>
</footer>