.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
  display: flex;
  align-items: end;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/*
.dice1 {
  content: url(./images/dice1.png);
}
.dice2 {
  content: url(./images/dice2.png);
}
.dice3 {
  content: url(./images/dice3.png);
}
.dice4 {
  content: url(./images/dice4.png);
}
.dice5 {
  content: url(./images/dice5.png);
}
.dice6 {
  content: url(./images/dice6.png);
} */

#title{
  display: flex;
  justify-content: center;
  align-items: end;
}

.spanTie {
  content: url(./images/flag3.png);
  height: 150px;
  padding-bottom: 22px;
}
.spanVictory1 {
  content: url(./images/flag.png);
  height: 150px;
  padding-bottom: 22px;
}
.spanVictory2 {
  content: url(./images/flag2.png);
  height: 150px;
  padding-bottom: 22px;
}