 <!-- Products -->

  <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/book.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Stubborn Attchments</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="1" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form>
                  </div>
                  <small class="text-body-secondary">Book</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/material.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Study Note</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="2" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Material</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/jacket.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Leather Jacket</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="3" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Jacket</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/paint.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Vibrant Paint</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="4" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Item</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/boots.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Harley Boots</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="5" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Boots</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/Dress.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Ocean's Dress</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="6" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Clothe</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/charger.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Ultra Charger</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="7" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Utility</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/glasses.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Sun Glasses</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="8" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Glasses</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="featurette-image img-fluid border border-5 border-light" alt="400x400" style="width: 100%; height: 225px;" src="../public/pocket.webp" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Pocket Bag</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/viewProduct" method="POST">
                      <button type="submit" value="9" name="view" class="btn btn-sm btn-outline-secondary">View</button>
                    </form></div>
                  <small class="text-body-secondary">Pocket</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
