<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counting Letters Name</title>
</head>
<body>

    <h1> <%= title %> </h1>
    
    <form action="/submit" method="POST">
        <label>First Name</label>
        <input type="text" name="fName" value="" placeholder="First Name">
        <label>Last Name</label>
        <input type="text" name="lName" value="" placeholder="Last Name">
        <a href=""><button>OK</button></a>
    </form>

</body>
</html>